In [1]:
import pandas as pd
from bs4 import BeautifulSoup

### Getting the main diagnosis group names

It is assumed that only code names with four charachters are the main diagnosis types.

In [2]:
f = BeautifulSoup(open("SKS-dump.html", "rb"))

In [3]:
rows = f.find_all('tr')

In [4]:
long_names = []
code_names = []
for row in rows[1:]:
    tds = row.find_all('td')
    long_names.append(tds[0].text)
    code_names.append(tds[1].text)

In [5]:
data = {'Diagnosis Name': long_names , 'Diagnosis Code': code_names}

In [6]:
df = pd.DataFrame(data)
display(df.head(5))
print(df.shape)

                                      Diagnosis Name Diagnosis Code
0  Klassifikation af sygdomme og helbredsrelatere...              D
1                                             Kolera           DA00
2               Kolera for책rsaget af Vibrio cholerae          DA000
3         Kolera for책rsaget af Vibrio cholerae eltor          DA001
4                                         Kolera UNS          DA009

(20678, 2)

### From Diagnosis Code take only the first four letter (apparently represents the main group)

In [7]:
main_df = df.loc[df['Diagnosis Code'].str.len() == 4].set_index('Diagnosis Code')

In [8]:
main_df.head(3)

                             Diagnosis Name
Diagnosis Code
DA00                                 Kolera
DA01                     Tyfus og paratyfus
DA02            Andre salmonellainfektioner

In [9]:
main_df.to_csv('mainFile.csv')